Repository Imagineer69/Frontend-hacktoberfest, pull requests merged in 2023-10, with the labels that each got.

#2 Create form.html
  form
Labels: hacktoberfest-accepted

#3 Create positioning.html
  positioning
Labels: hacktoberfest-accepted

#5 Create CV2
  CV2
Labels: hacktoberfest-accepted

#6 Create flipkart.html
  flipkart
Labels: hacktoberfest-accepted, html

#8 Create merge_sort.cpp
  merge_sort.cpp
Labels: hacktoberfest-accepted, cpp

#9 Create shellsort.cpp
  shellsort.cpp
Labels: hacktoberfest-accepted, cpp

#10 Create portfolio.html
  portfolio.html
Labels: hacktoberfest-accepted, html

#11 Create grocery.html
  grocery.html
Labels: hacktoberfest-accepted, html
